<html>
<head>
	<title>Sticky Notes</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/script.js"></script>
</head>
<body>
  <div class="wrapper">

      <!-- Sidebar -->
    <nav id="sidebar">
      <form>
        <textarea name="comment" form="usrform" placeholder="Enter text here..."></textarea>
        <button type = "submit" class="btn btn-info navbar-btn">Add</button>
      </form>
    </nav>

      <!-- Page Content -->
      <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        </button>
        <ul>
					<% for(var i = 0; i < todos.length; i++) { %>
          	<li><%= todos[i].item %></li>
        	<% } %>
        </ul>
      </div>

  </div>
</body>
</html>
